NODE_ENV=development
PORT=8000
TZ='UTC'
MIGRATION_DB_HOST=127.0.0.1
MIGRATION_DB_PORT=5432
MIGRATION_DB_NAME=reservations
MIGRATION_DB_USER=capstone
MIGRATION_DB_PASS=123
DB_URL="postgresql://capstone@localhost/reservations"
TEST_DB_URL="postgresql://capstone@localhost/reservations-test"
JWT_SECRET="reservations-jwt-secret"
